<section class="container">
  <div class="row">
    <div class="col-md-6">
        <h1 style="color: green;">Add product</h1>

        <form action="/admin/add-product" enctype="multipart/form-data" method="post" >
            <label for=""  >Name</label>
            <input type="text" name="Name" >
            <br>
 
             <label for="">Category</label>
             <select  id="" name="category"> 
               {{#each Categories}}
               <option value="{{this.Category}}">{{this.Category}}</option>
               {{/each}}
             </select>
            <br>

             <label for=""  >Description</label>
            <input type="text" name="description">
            <br>
        
             <label for=""  >price</label>
            <input type="number" name="price">
            <br>
            <label for="">is Featured?</label><br>
            <input type="radio" name="isFeatured" value="yes">
            <label for="">Yes</label><br>
            <input type="radio" name="isFeatured" value="no">
            <label for="">No</label>
            <br>

            <label for="">Image</label>
            <input type="file" name="img" multiple > 
            <br>
            <label for="">Quantity</label>
            <input type="number" name="quantity" style="width: 50px; "  min="1">
            <input type="text" name="rating" value="0"  hidden>
<br>
             <input type="submit" value="Submit " class="btn btn-success" >
        </form>
    </div>
  </div>

</section>